<div>
    <mat-form-field>
        <img mat-card-lg-image [src]="url"  >
        <input matInput disabled> 
        <mat-hint>seleccione una imagen</mat-hint>
        @if (error) {
            <div>{{error}}</div>
        }        
        <span>{{progress}}</span>
        <input hidden (change)="selectFile($event)" name="file" #file type="file" >
    </mat-form-field>
    <div>
        <button mat-icon-button  matSuffix (click)="file.click()">
            <mat-icon>attach_file</mat-icon> 
        </button>
        <button class="remove-property-button" mat-icon-button matSuffix  (click)="removePropertyValue()">
            <mat-icon>delete</mat-icon>
        </button>    
    </div>
</div>
