<p>Bienvenido participante</p>

@if( currentProfile == "participant" && !isParticipant && !isAdmin && !isJuror){
    <span class="bar">
        <span class="spacer"></span>
        <button class="inscribe" mat-raised-button color="primary" (click)="onInscribe()">Inscribete</button>
        <span class="spacer"></span>
    </span>
    
}<a routerLink="/organizer"><button mat-icon-button><mat-icon>arrow_back</mat-icon></button></a>
<h1>Torneo
    @if( tournamentId && tournament && isAdmin){
        <button mat-icon-button color="warn" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    }
</h1>    

<form [formGroup]="form">
    <mat-card>
        <mat-card-header>
            @if( tournamentId && tournament ){
                <mat-card-title-group>
                    <mat-card-title>{{ tournament.label }}</mat-card-title>
                    <mat-card-subtitle>
                    Fecha:{{tournament.eventDate.toDate() | date: 'dd/MM/yyyy'}}
                    Hora:{{tournament.eventTime}}
                    </mat-card-subtitle>                
                    <img mat-card-lg-image [src]="tournament.imageUrl" >
                </mat-card-title-group>    
            }
        </mat-card-header>  
          
        <mat-card-content>
            @if( !tournamentId || (isAdmin && tournament)){
                <div class="bar">
                    <div class="name-container">
                        <mat-form-field class="name-input">
                            <mat-label>Nombre del evento</mat-label>
                            <input matInput placeholder="" formControlName="label" (change)="onNameChange($event)">
                        </mat-form-field>
                        <div>
                            <mat-form-field color="accent" appearance="fill">
                                <mat-label>Fecha del evento</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="eventDate"  (change)="onChange($event, tournamentId,'eventDate')">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field color="accent" appearance="fill">
                                <mat-label>Hora del evento</mat-label>            
                                <input matInput formControlName="eventTime" [format]="24" [ngxTimepicker]="picker" (change)="onChange($event,tournamentId,'eventTime')">
                                <ngx-material-timepicker #picker></ngx-material-timepicker> 
                            </mat-form-field> 
                        </div>                        
                    </div>    
                @if( tournament ){
                    @if( isAdmin ){
                        <app-image-loader [fullpath]="tournament.imagePath" [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-image-loader>                    
                    }
                    @else{
                        <img mat-card-lg-image [src]="tournament.imageUrl" >
                    }
                }                  
                </div>
            }

        </mat-card-content>   
        <mat-card-actions>
            @if( !tournamentId ){
                <button mat-button-icon (click)="onSubmit()" [disabled]="!form.valid"><mat-icon>done</mat-icon></button>
            }
        </mat-card-actions>
           
    </mat-card>    
                
            @if( tournamentId && tournament ){



                <h2>Categorias   
                @if( isAdmin ){    
                    <a [routerLink]="['/','tournament',tournamentId,'categories']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a>
                }
                </h2>
                <mat-accordion>
                @for( category of tournament.categories; track category){
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{category.label}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            <quill-view-html [content]="category.description"></quill-view-html> 
                        </p>
                    </mat-expansion-panel>
                } 
                </mat-accordion>              

                @if(isAdmin){
                    <mat-divider></mat-divider>
                    <h2>Evaluaciones   
                        @if( isAdmin ){    
                            <a [routerLink]="['/','tournament',tournamentId,'evaluation']">
                                <button mat-button-icon><mat-icon>edit</mat-icon></button>
                            </a>
                        }
                        </h2>
                        <mat-list>
                        @for( evaluation of tournament.evaluations; track evaluation){
                            <mat-list-item>
                            {{evaluation.label}}
                            </mat-list-item>    
                        } 
                        </mat-list>
                
                    <mat-divider></mat-divider>
                    <h2>Jurado
                    <a [routerLink]="['/','tournament',tournamentId,'jurors']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a>
                    </h2>  
                    <mat-list>
                    @for( j of jurorList; track j){
                        <mat-list-item>{{j.label}}</mat-list-item>
                    }
                    </mat-list>               
                }
    
                <mat-divider></mat-divider>        
                <h2>Premiacion
                @if(isAdmin){
                    <a [routerLink]="['/','tournament',tournamentId,'medals']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a>
                }
                </h2>  
                <mat-accordion>
                    @for( medal of tournament.medals; track medal){
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{medal.label}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                <quill-view-html [content]="medal.description"></quill-view-html> 
                            </p>
                        </mat-expansion-panel>
                    } 
                </mat-accordion> 

                <mat-divider></mat-divider> 
                @if( isParticipant || isAdmin ){
                    <h2>Performances
                        @if( (isParticipant && performances.length > 0) || isAdmin ){
                            <button mat-button-icon (click)="onPerformancesEdit()"><mat-icon>edit</mat-icon></button>
                        }
                    </h2>
                    <mat-list>
                    @for( p of performances; track p){
                        <mat-list-item>
                        {{ p.performance.label }}
                        @if( p.isInProgram ){
                            <mat-icon>done</mat-icon>
                        }
                        </mat-list-item>
                    }
                    @empty{
                        @if( isParticipant ){
                            <a [routerLink]="['/','tournament',tournamentId,'performances']">
                                <button mat-raised-button color="accent" >Quiero presentarme</button>
                            </a>                    
                        }
                    }
                    </mat-list> 
                }    
                @if( isAdmin || 
                     ( (isJuror || isParticipant) && tournament.isProgramReleased ) ){   
                    <mat-divider></mat-divider>                              
                    <h2>Programa
                        
                        <a [routerLink]="['/','tournament',tournamentId,'program']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a>
                    </h2> 
                    @for( p of program; track p){
                        <div class="item">{{ p.performance.label }}</div>
                    }
                    @empty{
                        <h3>No se han adicionado performances al programa</h3>
                    }  
                }    
                @if( isAdmin || isJuror ){            
                    <mat-divider></mat-divider>                  
                    <h2>Podium<a [routerLink]="['/','tournament',tournamentId,'podium']">
                        <button mat-button-icon><mat-icon>emoji_events</mat-icon></button>
                    </a></h2>      
                }                                                       
            }  



</form>
