<a [routerLink]="'../'">
    <mat-icon>arrow_back</mat-icon>    
</a>    

@if(tournament && evaluation){
    <h1>{{tournament.label}}</h1>
    <h2>{{evaluation.label}}</h2>
    <mat-card [formGroup]="form">
        <mat-card-header>
            <mat-card-title>Nuevo aspecto</mat-card-title>
            <mat-card-subtitle>Que aspecto sera calificado en esta evaluacion</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>    
                <input matInput placeholder="label" formControlName="label" >
            </mat-form-field>
            <quill-editor formControlName="description" placeholder="Descripción"></quill-editor>            
        </mat-card-content>
        <mat-card-actions>
            <button #edited id="edited" mat-button (click)="onSubmit()" [disabled]="!form.valid"><mat-icon>done</mat-icon></button>
        </mat-card-actions>
    </mat-card>   
}