<p>
    MisCompetencias S.A., incluyendo todas sus publicaciones (en lo sucesivo referidas para efectos del presente Aviso como “MISCOMPETENCIAS”), recaba datos personales de sus visitantes, clientes, proveedores, invitados, consejeros editoriales, lectores y/o participantes de nuestros concursos, en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, publicada en el Diario Oficial de la Federación el 05 de julio de 2010 (en lo sucesivo la “Ley”), siendo responsable de su tratamiento y comprometiéndose a respetar la privacidad de los mismos, por lo que hace de su conocimiento que:
    </p>
    
    <p>
    MISCOMPETENCIAS recaba datos personales de manera personal y directa cuando el titular acude a nuestras oficinas, o bien, cuando nos los proporciona por medios electrónicos y/o sonoros, a través del sitio www.miscompetencias.com, por medio de nuestras aplicaciones móviles, a través de nuestras redes sociales, y/o líneas telefónicas, así como por otras fuentes permitidas por la Ley (ver apartado de Política de uso de datos).
    </p>
    
    <p>
    Los datos personales que recaba MISCOMPETENCIAS, incluyen nombre, edad, domicilio, teléfono, correo electrónico, datos bancarios cuando usted solicita un cargo a su tarjeta de crédito, así como sus datos fiscales como es su Registro Federal de Contribuyente cuando solicita factura, y son utilizados única y exclusivamente para fines de prestación de nuestros servicios, así como para el cumplimiento de nuestro objeto social, incluyendo los fines mercadotécnicos y publicitarios. Lo anterior significa que sus datos no serán transferidos ni tratados por personas distintas a MISCOMPETENCIAS y/o sus directivos o empleados, salvo a instituciones bancarias para efectos de cobro de nuestros servicios, contando con su consentimiento. Cuando usted visita nuestras instalaciones, requeriremos tomar una imagen de su rostro y le pediremos una identificación oficial. Si nuestros proveedores o algunos visitantes acceden a nuestro estacionamiento tomaremos los datos del vehículo.
    </p>
    
    <p>
    Los datos personales se encuentran restringidos, con excepción de aquellos requeridos por mandato de autoridad competente. También se exceptúan aquellos que se encuentran en fuentes de acceso público y los proporcionados por los propios usuarios que participen en la sección de Comentarios sobre notas publicadas en nuestros sitios de internet, redes sociales o en los Foros en línea, evitando con ello el mal uso por parte de personas que se refugian en el anonimato, por lo que se advierte a los participantes que sus comentarios podrían incluir el nombre del titular de la suscripción con el que acceden a los foros o emiten sus comentarios.
    </p>
    <p>
    Cuando nuestros usuarios acceden a nuestro Portal de Internet y aplicaciones móviles, recibimos información de sus cookies y web beacons (ver apartado de Definiciones).
    </p>
    <p>
    MISCOMPETENCIAS ofrece videos que utilizan los servicios de YouTube (YouTube Api Services) y la versión sin marca del reproductor incrustado de YouTube. YouTube puede recopilar datos personales en función de sus preferencias de navegación y así brindarle una mejor experiencia de videos. Por favor, lea los términos de servicio de YouTube (https://www.youtube.com/t/terms) ya que, al acceder a nuestros videos alojados por YouTube, usted acepta estar sujeto a los términos de servicio. Para comprender cómo Google puede usar sus datos personales recopilados en base a cookies u otra tecnología al ver nuestros videos, por favor, lea la política de privacidad de Google (https://policies.google.com/privacy)
    </p>
    <p>
    Es posible que dentro de los sitios web, aplicaciones móviles y redes sociales de MISCOMPETENCIAS se alojen enlaces a sitios de terceros ajenos a nosotros, en los cuales no tenemos control sobre los mismos, por lo que invitamos a nuestros usuarios a revisar las políticas de privacidad de dichos sitios.
    </p>
    <p>
    Para prevenir el acceso, uso y divulgación no autorizados de los datos personales, MISCOMPETENCIAS cuenta con procedimientos y controles que garantizan su trato adecuado. Únicamente el titular de los datos personales podrá tener acceso a ellos y a ejercer los derechos ARCO (acceso, rectificación, cancelación y oposición) de los mismos. Para ello, el titular enviará una solicitud por escrito, redactada en español, incluyendo su nombre completo, teléfono, domicilio o correo electrónico para recibir notificaciones y copia simple o digital de su identificación oficial a MISCOMPETENCIAS a través del correo electrónico admin&#64;miscompetencias.com o bien a través de correo postal con porte pagado al domicilio señalado al inicio del presente Aviso, dirigido al Departamento de Atención Derechos ARCO. En la solicitud el titular describirá los datos personales a los que se refiere y derecho ARCO que busca ejercer.
    </p>
    <p>
    MISCOMPETENCIAS atenderá su solicitud en un plazo máximo de veinte días hábiles contados a partir de la fecha en que reciba su solicitud. Dentro de dicho plazo le informaremos sobre la procedencia de la misma. MISCOMPETENCIAS habrá cumplido en el momento en que entregue la correspondencia al servicio postal, o bien en la fecha en que responda a su correo electrónico.
    </p>
    <p>
    MISCOMPETENCIAS podrá modificar el presente Aviso de privacidad y publicar las modificaciones de forma inmediata en sus oficinas, sitios web, aplicaciones, o a través de los medios que éste determine.
    </p>
    <p>
    Definiciones.
    </p>
    <p>
    I.-Cookies.- Archivos de texto que se descargan automáticamente y se almacenan en el disco duro del equipo de cómputo del usuario al navegar en una página o portal de Internet específico, que permiten almacenar al servidor de Internet ciertos datos, entre ellos, páginas preferidas de visualización en internet.
    </p>
    <p>
    II.-Web beacons.-Imágenes insertadas en páginas, portales de Internet, o correos electrónicos y que pueden almacenar información de la dirección IP del usuario, tiempo de interacción en los sitios web, entre otros.
    </p>
    <p>
    Para cualquier asunto relacionado con el presente Aviso de privacidad contacte a nuestro Departamento Legal al teléfono: (52)55-5628-7000 o por mail a arco&#64;miscompetencias.com
    </p>
    