<h1>Aspectos
    @if( isAdmin ){
        <a [routerLink]="['/','tournament',tournamentId,'evaluation',evaluationId,'aspect',null]">
            <button mat-icon-button><mat-icon>add</mat-icon></button>
        </a>
    }    
</h1>
@if( evaluation ){
    @for(aspect of evaluation.aspects; track aspect){
        <div class="aspect" (click)="onAspect(aspect.id)">
            <button mat-button><span class="label">{{ aspect.label }}</span></button>
            <p>
                {{ aspect.description }}
            </p>    
        </div>           
    }
}