<a routerLink="/"><button mat-icon-button><mat-icon>arrow_back</mat-icon></button></a>
@if( tournament ){
    <div class="bar"></div>
    <h1>{{tournament.label}}</h1>
    <span class="spacer"></span>
    <div class="bar">
        <span class="spacer"></span>
        <button mat-icon-button color="warn" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    </div>
    <h4>Envie este link a sus participantes para que registren solicitudes</h4>
    <div class="tournament-url-container">
        <div>{{ getTournamentPath() }}</div>
        <button class="copy-content" mat-button-icon (click)="onCopyToClipboard()"><mat-icon>content_copy</mat-icon></button>
    </div> 
}
@else{
    <h1>Editar Torneo</h1>
}


<div class="bar">
    <h1>Solicitudes de Coreografias:</h1>
    
    @if( hasDeletedOrCancel ){
        <span class="spacer"></span>
        <mat-checkbox [(ngModel)]="isShowDeleted">mostrar todas</mat-checkbox>
    }
    <span class="spacer"></span>        
</div>

@if( pendingRefs.length ){
<mat-grid-list class="request-grid" cols="2" rowHeight="3em">
    <mat-grid-tile class="request-grid-title">Titulo</mat-grid-tile>
    <mat-grid-tile class="request-grid-title">Estatus</mat-grid-tile>
    @for( p of pendingRefs; track p.id){
        @if( !(isShowDeleted==false && (p.performance.isDeleted || p.performance.isRejected || p.performance.isCanceled) ) ){
            <mat-grid-tile>
                <span class="performance_label">
                <a  [routerLink]="['performanceEdit',p.id]">
                   <button mat-button>{{ p.performance.label }}</button> 
                </a>
                </span>
            </mat-grid-tile>
            <mat-grid-tile> 
                <span class="performance_status">
                    <mat-chip-set>
                    @if( p.performance.isRejected || p.performance.isCanceled){
                        @if( p.performance.isRejected ){
                            <mat-chip-option disabled>Rechazado!</mat-chip-option>                            
                        }                    
                        @if( p.performance.isCanceled ){
                            <mat-chip-option disabled>Cancelado!</mat-chip-option>
                        }    
                    }              
                    @else{
                        @if( p.isInProgram ){
                            <mat-chip-option selected disabled>Aceptada</mat-chip-option>
                        }                            
                        @else{
                            <button mat-raised-button color="primary" (click)="onAccept(p.id)">Aceptar en el programa</button>
                        }
                    }
                    </mat-chip-set>
                </span>
            </mat-grid-tile>
        }
    } 
    </mat-grid-list> 
    @if(!hasPending){
        <span>No hay ninguna solicitud pendiente</span>
    }
    <mat-divider></mat-divider>
}
@else{
    <span>No hay ninguna solicitud pendiente</span> 
}

@if( tournamentId && tournament ){

    <mat-tab-group #tournamentTab>
        <mat-tab label="programa">
                
            <app-program-list [tournamentId]="tournamentId" [tournament]="tournament"></app-program-list>
                  
        </mat-tab>
        <mat-tab label="podium">
            <app-tournament-edit-podium [tournamentId]="tournamentId" [tournament]="tournament"></app-tournament-edit-podium>
        </mat-tab>
        <mat-tab label="Configuración">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      General
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form [formGroup]="form">
                    <mat-card>
                        <mat-card-content>
                            <mat-grid-list cols="5" rowHeight="5em">
                                <mat-grid-tile colspan="3">
                                    <mat-form-field class="name-input">
                                        <mat-label>Nombre del evento</mat-label>
                                        <input matInput placeholder="" formControlName="label" (change)="onNameChange($event)">
                                    </mat-form-field>                </mat-grid-tile>
                                <mat-grid-tile colspan="2" rowspan="5">
                                    <app-image-loader [fullpath]="tournament.imagePath" [basepath]="getBasePath()" [url]="tournament.imageUrl" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-image-loader>
                                </mat-grid-tile>
                                <mat-grid-tile colspan="3">
                                    <mat-form-field color="accent" appearance="fill">
                                        <mat-label>Fecha del evento</mat-label>
                                        <input matInput [matDatepicker]="picker1" formControlName="eventDate"  (change)="onChange($event, tournamentId,'eventDate')">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan="3">
                                    <mat-form-field color="accent" appearance="fill">
                                        <mat-label>Hora del evento</mat-label>            
                                        <input matInput formControlName="eventTime" [format]="24" [ngxTimepicker]="picker" (change)="onChange($event,tournamentId,'eventTime')">
                                        <ngx-material-timepicker #picker></ngx-material-timepicker> 
                                    </mat-form-field> 
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-tile colspan="5">
                                <mat-form-field color="accent" appearance="fill">
                                    <mat-label>Lugar</mat-label>
                                    <input matInput formControlName="place">
                                </mat-form-field> 
                            </mat-grid-tile>                            
                        </mat-card-content>   
                    </mat-card>    
                </form>            

                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Categorias
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    @if( tournament.categories.length > 0){  
                        <a [routerLink]="['categoryNew']">
                            <button mat-button-icon><mat-icon>add</mat-icon></button>
                        </a>       
                        }
                        <mat-list>
                            @for( category of tournament.categories; track category){
                                <mat-list-item>
                                    <a [routerLink]="['category',category.id]">
                                        <button mat-button>{{category.label}}</button>
                                    </a>                                 
                                </mat-list-item>
                            }
                            @empty{
                                <p>Usted necesita por lo menos una categoria; adicione una</p>
                                <a [routerLink]="['categoryNew']">
                                    <button mat-button-icon><mat-icon>add</mat-icon></button>
                                </a>       
                            }
                        </mat-list>                  
                      </mat-expansion-panel>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Evaluaciones
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    @if( tournament.evaluations.length > 0){     
                        <a [routerLink]="['evaluationNew']">
                            <button mat-button-icon><mat-icon>add</mat-icon></button>
                        </a> 
                        }   
                        <mat-list>
                            @for( evaluation of tournament.evaluations; track evaluation){
                                <mat-list-item>
                                    <a [routerLink]="['evaluation',evaluation.id]">
                                        <button mat-button>{{evaluation.label}}</button>
                                    </a>                                 
                                </mat-list-item>    
                            } 
                            @empty{
                                <p>Usted necesita por lo menos una evaluacion; adicione una</p>
                                <a [routerLink]="['evaluationNew']">
                                    <button mat-button-icon><mat-icon>add</mat-icon></button>
                                </a>       
                            }                    
                        </mat-list>
                      </mat-expansion-panel>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Jurados
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    @if( tournament.jurors.length ){
                        <a [routerLink]="['jurorNew']">
                            <button mat-button-icon><mat-icon>add</mat-icon></button>
                        </a>                   
                        }
                        <mat-list>
                        @for( j of tournament.jurors; track j.id){
                            <a [routerLink]="['juror',j.id]">
                                <mat-list-item>{{j.label}}</mat-list-item>
                            </a>
                        }
                        @empty{
                            <p>Usted necesita por lo menos un jurado; adicione uno</p>
                            <a [routerLink]="['jurorNew']">
                                <button mat-button-icon><mat-icon>add</mat-icon></button>
                            </a>       
                        }                
                        </mat-list>  
                  </mat-expansion-panel>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Premios
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        @if( tournament.medals.length ){
                        <a [routerLink]="['medalNew']">
                            <button mat-button-icon><mat-icon>add</mat-icon></button>
                        </a>                   
                        }
                        @for( m of tournament.medals; track m){
                            <a [routerLink]="['medal',m.id]">
                                <mat-list-item>{{m.label}}</mat-list-item>
                            </a>
                        }
                        @empty{
                            <p>Usted necesita por lo menos un premio; adicione uno</p>
                            <a [routerLink]="['medalNew']">
                                <button mat-button-icon><mat-icon>add</mat-icon></button>
                            </a>       
                        }                
                    </mat-list>  
              </mat-expansion-panel>                                                                      
            </mat-accordion>                
        </mat-tab>    
    </mat-tab-group>        
    <mat-divider></mat-divider>
}     
@else{
    <mat-spinner></mat-spinner>
}
