

<div [ngClass]="(isHandset$ | async) ? 'login-handset' : 'login-desktop'">

   
  <span class="title" *ngIf="isRegister">Registrate</span>
  <span class="title" *ngIf="!isRegister">Ingresa con un email</span>

  <form [formGroup]="loginForm">
    <mat-card class="login-card">
      <mat-card-header>
        
      
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="full-width">
              <input matInput placeholder="email" formControlName="username" >
              <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                login is <strong>required</strong>
              </mat-error>            
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="full-width">
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>            
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                login is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
 
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onLoginWithEmail()" *ngIf="!isRegister">Login</button>
        <button mat-raised-button color="warn" (click)="register()" *ngIf="isRegister" [disabled]="loginForm.invalid">Registrar</button>
        <button mat-button color="warn" (click)="onPasswordResetEmail()" *ngIf="!isRegister">Olvide mi password</button>

      </mat-card-actions>

      <mat-divider></mat-divider>
      @if( !isRegister ){
        <button mat-button  aria-label="register" (click)="Register()">Registrarte</button>  
      }
      
      
    </mat-card>
  </form>
</div>



