<a routerLink="/organizer"><button mat-icon-button><mat-icon>arrow_back</mat-icon></button></a>
@if( tournament ){
    <div class="bar"></div>
    <h1>{{tournament.label}}</h1>
    <span class="spacer"></span>
    <div class="bar">
        <span class="spacer"></span>
        <button mat-icon-button color="warn" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    </div>
    <h4>Envie este link a sus participantes para que registren solicitudes</h4>
    <div class="tournament-url-container">
        <span class="spacer"></span>
        <span> 
            <h3>{{ getTournamentPath() }}</h3>
        </span>
        <span class="spacer"></span>
    </div>  
}
@else{
    <h1>Editar Torneo</h1>
}


@if( tournamentId && tournament ){

    <mat-tab-group #tournamentTab>
        <mat-tab label="programa">
            @if( pendingRefs.length ||  (pendingRefs.length == 0 && tournament.program.length == 0) ){
                <h2>Solicitudes de presentacion</h2>
                <mat-list>
                @for( p of pendingRefs; track p.id){
                    <mat-list-item>
                        <a [routerLink]="['performanceEdit',p.id]">
                            <span>{{ p.performance.label }}</span>
                            @if( p.performance.isCanceled ){ 
                            <span class="cancelado">Cancelado</span> 
                            } 
                        </a>
                        <button mat-raised-button color="primary" (click)="onAccept(p.id)">Aceptar en el programa</button>
                    </mat-list-item>
                } 
                @empty{
                    <span>No hay ninguna solicitud pendiente</span>
                }
                </mat-list>  
            }    
            <div class="program">
                <h2>Programa</h2>
                @if( tournament.program.length > 0){
                    @if( !tournament.isProgramReleased ){
                        <button mat-button color="warn" (click)="onReleaseProgram(true)">Publicar Programa</button>
                    }
                    @else{
                        <button mat-button color="warn" (click)="onReleaseProgram(false)">Ocultar Programa</button>
                    }    
                }

                <mat-accordion>
                    @for(p of programRefs; track p;let idx = $index, e = $even){
                    <mat-expansion-panel [expanded]="false" hideToggle>
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{idx+1}}.-{{ p.performance.label }}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ p.performance.fullname }}

                            @if( p.noEvaluationsFound ){
                                <span class="attention">Por favor adicione examenes!</span>
                            }
                            @if( p.performance.isReleased == false && p.newGradeAvailable ){
                                <span class="attention">Nueva calificacion disponible!</span>
                            }       
                            @if( p.performance.isReleased == true  ){
                                <span class="released">Liberado:{{p.performance.grade}}</span>
                            }   
                            <span class="medal">{{ p.medal }}</span>
                            
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="bar program-bar">
                            @if(isAdmin){
                            <button mat-icon-button (click)="onPerformanceUp(p.id)"><mat-icon>arrow_upward</mat-icon></button>
                            }
                            <span class="program_number">{{ idx + 1}}</span>
                            @if(isAdmin){
                                <button mat-icon-button (click)="onPerformanceDown(p.id)"><mat-icon>arrow_downward</mat-icon></button>
                            }
                            @if( isAdmin && p.performance.isReleased  ){
                                <span class="score">score:{{ p.performance.grade }}</span>
                            }
                            @if( isAdmin || p.performance.isReleased  ){
                                <span>{{ p.medal }}</span>
                            }
                
                            <span class="spacer"></span>
                            <button mat-icon-button color="warn" (click)="onReject(p.id)"><mat-icon>remove_circle</mat-icon></button>
                        </div>      
                        <app-evaluationgrade-list [tournamentId]="tournamentId" [tournament]="tournament" [performanceId]="p.id" [performance]="p.performance" (noEvaluationsFound)="onNoEvaluationFound($event,p)" (newGradeAvailable)="onNewGradeAvailable($event,p)"></app-evaluationgrade-list> 
                    </mat-expansion-panel>
                    }
                    @empty{
                        <span class="attention">Usted necesita aceptar solicitudes de presentacion en el programa</span>
                    }
                </mat-accordion>
                                
        
            </div>
                  
        </mat-tab>
        <mat-tab label="podium">
            <app-tournament-edit-podium [tournamentId]="tournamentId" [tournament]="tournament"></app-tournament-edit-podium>
        </mat-tab>
        <mat-tab label="Editar">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      General
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form [formGroup]="form">
                    <mat-card>
                        <mat-card-content>
                            <mat-grid-list cols="5" rowHeight="5em">
                                <mat-grid-tile colspan="3">
                                    <mat-form-field class="name-input">
                                        <mat-label>Nombre del evento</mat-label>
                                        <input matInput placeholder="" formControlName="label" (change)="onNameChange($event)">
                                    </mat-form-field>                </mat-grid-tile>
                                <mat-grid-tile colspan="2" rowspan="5">
                                    <app-image-loader [fullpath]="tournament.imagePath" [basepath]="getBasePath()" [url]="tournament.imageUrl" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-image-loader>
                                </mat-grid-tile>
                                <mat-grid-tile colspan="3">
                                    <mat-form-field color="accent" appearance="fill">
                                        <mat-label>Fecha del evento</mat-label>
                                        <input matInput [matDatepicker]="picker1" formControlName="eventDate"  (change)="onChange($event, tournamentId,'eventDate')">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan="3">
                                    <mat-form-field color="accent" appearance="fill">
                                        <mat-label>Hora del evento</mat-label>            
                                        <input matInput formControlName="eventTime" [format]="24" [ngxTimepicker]="picker" (change)="onChange($event,tournamentId,'eventTime')">
                                        <ngx-material-timepicker #picker></ngx-material-timepicker> 
                                    </mat-form-field> 
                                </mat-grid-tile>
                            </mat-grid-list>
                        
                        </mat-card-content>   
                    </mat-card>    
                </form>            

                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Categorias
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    @if( tournament.categories.length > 0){  
                        <a [routerLink]="['categoryNew']">
                            <button mat-button-icon><mat-icon>add</mat-icon></button>
                        </a>       
                        }
                        <mat-list>
                            @for( category of tournament.categories; track category){
                                <mat-list-item>
                                    <a [routerLink]="['category',category.id]">
                                        <button mat-button>{{category.label}}</button>
                                    </a>                                 
                                </mat-list-item>
                            }
                            @empty{
                                <p>Usted necesita por lo menos una categoria; por favor adicione una</p>
                                <a [routerLink]="['categoryNew']">
                                    <button mat-button-icon><mat-icon>add</mat-icon></button>
                                </a>       
                            }
                        </mat-list>                  
                      </mat-expansion-panel>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Evaluaciones
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    @if( tournament.evaluations.length > 0){     
                        <a [routerLink]="['evaluationNew']">
                            <button mat-button-icon><mat-icon>add</mat-icon></button>
                        </a> 
                        }   
                        <mat-list>
                            @for( evaluation of tournament.evaluations; track evaluation){
                                <mat-list-item>
                                    <a [routerLink]="['evaluation',evaluation.id]">
                                        <button mat-button>{{evaluation.label}}</button>
                                    </a>                                 
                                </mat-list-item>    
                            } 
                            @empty{
                                <p>Usted necesita por lo menos una evaluacion; por favor adicione una</p>
                                <a [routerLink]="['evaluationNew']">
                                    <button mat-button-icon><mat-icon>add</mat-icon></button>
                                </a>       
                            }                    
                        </mat-list>
                      </mat-expansion-panel>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Jurados
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    @if( tournament.jurors.length ){
                        <a [routerLink]="['jurorNew']">
                            <button mat-button-icon><mat-icon>add</mat-icon></button>
                        </a>                   
                        }
                        <mat-list>
                        @for( j of tournament.jurors; track j){
                            <a [routerLink]="['juror',j.id]">
                                <mat-list-item>{{j.label}}</mat-list-item>
                            </a>
                        }
                        @empty{
                            <p>Usted necesita por lo menos un jurado; por favor adicione uno</p>
                            <a [routerLink]="['jurorNew']">
                                <button mat-button-icon><mat-icon>add</mat-icon></button>
                            </a>       
                        }                
                        </mat-list>  
                  </mat-expansion-panel>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Premios
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        @if( tournament.medals.length ){
                        <a [routerLink]="['medalNew']">
                            <button mat-button-icon><mat-icon>add</mat-icon></button>
                        </a>                   
                        }
                        @for( m of tournament.medals; track m){
                            <a [routerLink]="['medal',m.id]">
                                <mat-list-item>{{m.label}}</mat-list-item>
                            </a>
                        }
                        @empty{
                            <p>Usted necesita por lo menos un premio; por favor adicione uno</p>
                            <a [routerLink]="['medalNew']">
                                <button mat-button-icon><mat-icon>add</mat-icon></button>
                            </a>       
                        }                
                    </mat-list>  
              </mat-expansion-panel>                                                                      
            </mat-accordion>                
        </mat-tab>    
    </mat-tab-group>        
    <mat-divider></mat-divider>
}     
@else{
    <mat-spinner></mat-spinner>
}
