mat-card{
    width:100%;
}
.name-container{
    width:60%;
}
.name-input{
    width:100%;
}
.performanceLink{
    display:block;
}

.categoryref{
    display:block;
}
.evaluationref{
    display:block; 
}
.medalref{
    display:block; 
}
.item{
    display:block;
    margin:1em;
}
.grade{
    font-size: large;
    margin-right: 1em;
}
.medal{
    font-size: large;
}
p{
    margin:1em;
}
.inscribe{
    margin:5px;
}

.performances{
    margin-left:2em;
}

.tournament-url-container{
    background-color: lightblue;
    padding: 15px;
    margin: 1em;
    display:flex;
}
.cancelado{
    color:red;
    font-size: large;
    margin:5px;
}
.status{
    color:black;
    margin:5px;
}
