<h2>Podium</h2>

<mat-grid-list cols="10" rowHeight="3em">
    <mat-grid-tile [style.background]="'lightblue'">lugar</mat-grid-tile>
    <mat-grid-tile colspan=3 [style.background]="'lightblue'">Academia/Ciudad</mat-grid-tile>
    <mat-grid-tile colspan=2 [style.background]="'lightblue'">Performance/Coreografo</mat-grid-tile>
    <mat-grid-tile colspan=3 [style.background]="'lightblue'">Ejecutante/Categoria</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'">Premio/Calificacion</mat-grid-tile>

    @for( p of programRefs; track p.id; let idx = $index, even = $even){
        
    <mat-grid-tile [ngClass]="'row_odd'">{{ idx + 1}}  </mat-grid-tile>
    <mat-grid-tile [ngClass]="'row_odd'" colspan="2">{{ p.performance.academy }}</mat-grid-tile>
    <mat-grid-tile [ngClass]="'row_odd'" colspan=3>
        <span>{{ p.performance.label }}</span>
        @if( p.performance.isCanceled ){
            <span class="cancel">Status Cancelado</span>
        }  
    </mat-grid-tile>    
    <mat-grid-tile [ngClass]="'row_odd'" colspan="3">{{ p.performance.fullname    }}</mat-grid-tile>
    <mat-grid-tile [ngClass]="'row_odd'" >{{ p.medal }}</mat-grid-tile>


    <mat-grid-tile ></mat-grid-tile>
    <mat-grid-tile  colspan="2">{{  p.performance.city }}</mat-grid-tile>    
    <mat-grid-tile colspan="3">{{ p.performance.coreographer }}</mat-grid-tile>
    <mat-grid-tile colspan="3">{{ p.categoryLabel }}</mat-grid-tile>
    <mat-grid-tile>{{p.performance.grade}}</mat-grid-tile>
    }
</mat-grid-list>
