/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bar{
    display:flex;
}
.spacer{
    flex:1 1 0;
}
.bar span{
    margin-top:auto;
    margin-bottom:auto;
}
.id{
    font-size: x-small; 
    margin-right: 10px;
    color:silver;
}  
.debug{
    font-size: x-small; 
    margin-right: 10px;
    color:white;
} 

.grecaptcha-badge { 
    visibility: hidden !important;
}

.cell-text{
    width:100%;
    text-align: left; 
}
.cell-number{
    width:100%;
    text-align: right; 
}