@if( tournament ){
    <mat-accordion>
        @for(p of programRefs; track p;let idx = $index, e = $even){
        <mat-expansion-panel [expanded]="false" hideToggle>
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{idx+1}}.-{{ p.performance.label }}
            </mat-panel-title>
            <mat-panel-description>
                {{ p.performance.fullname }}
                <span class="medal">{{ p.medal }}</span>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <app-evaluationgrade-list [tournamentId]="tournamentId" [tournament]="tournament" [performanceId]="p.id" [performance]="p.performance"></app-evaluationgrade-list> 
        </mat-expansion-panel>
        }
    </mat-accordion>
}