.medal{
    margin-left: 2em;
    color:green;
}
.cancel{
    color:red;
    margin-left: 1em;
    margin-right: 1em;
}
mat-grid-list{
    margin-top: 0.5em;
}
.performance-label{
    font-weight: bold;
}

