<a [routerLink]="'/tournament/'+tournamentId">
    <button mat-icon-button><mat-icon>arrow_back</mat-icon></button>
</a>
<h1>Jurados
    @if( !isAdding && !editingId){
        <button mat-button-icon (click)="onAdd()"><mat-icon>add</mat-icon></button>
    }</h1>
    @for(e of getGroups(); track e){
<mat-card [formGroup]="e">
    <mat-card-content> 
        @if( (isAdding && !e.controls['id'].value) || (e.controls['id'].value == editingId) ){
        <mat-form-field> 
            <input matInput placeholder="Nombre del jurado" formControlName="label">
        </mat-form-field>                 
        <mat-form-field> 
            <input matInput placeholder="email" formControlName="email" >
        </mat-form-field>  
        }
        @else{
                {{ e.controls['label'].value }}
                {{ e.controls['email'].value }}
        }
    </mat-card-content>

    <mat-card-actions>
    @if( isAdding ){
        @if( e.controls['id'].value == null ){
            <button #edited id="edited" mat-button (click)="onSubmit()" [disabled]="!form.valid"><mat-icon>done</mat-icon></button>
            <button mat-button (click)="onCancelAdd()"><mat-icon>cancel</mat-icon></button>
        }
    }               
    @else{
        @if( editingId ){
            @if(e.controls['id'].value == editingId  ){
                <button mat-button (click)="onSave(e.controls['id'].value)" [disabled]="!form.valid"><mat-icon>done</mat-icon></button>
                <button mat-button (click)="onCancelEdit()"><mat-icon>cancel</mat-icon></button>               
            }
            @else{

            }
        }                
        @else{
            <button mat-button (click)="onEdit(e.controls['id'].value)"><mat-icon>edit</mat-icon></button>               
            <button mat-button color="warn" (click)="onDelete(e.controls['id'].value)"><mat-icon>delete</mat-icon></button>               
        }
    }
    </mat-card-actions>

</mat-card>
}





