
<div class="bar">
    <span class="spacer"></span>
 
 <form [formGroup]="searchForm"><mat-form-field  appearance="outline">
             <input  matInput placeholder="evento" formControlName="search" >
         </mat-form-field></form>
     <button mat-fab  class="search-button" color="primary" aria-label="Example icon button with a delete icon" (click)="onSearch()">
         <mat-icon>search</mat-icon>
     </button>
     <span class="spacer"></span>
 </div>
 

<h2>Mis Eventos
    <button mat-button-icon (click)="onCreateTournament()"><mat-icon>add</mat-icon></button>
</h2>
 
 @for( tl of tournaments; track tl.id){
     <mat-card>
         <mat-card-header>
             <mat-card-title>
                 <a routerLink="/tournament/{{tl.id}}">{{tl.tournament.label}}</a>
             </mat-card-title>
         </mat-card-header>
         <mat-card-content>
             <div class="bar">
                 <div>fecha:{{ dateSrv.getDate( tl.tournament.eventDate) | date: 'dd/MM/yyyy'}}</div>
                 <span class="spacer"></span>
                 <img mat-card-sm-image [src]="tl.tournament.imageUrl" >  
             </div>       
         </mat-card-content>         
     </mat-card>     
 } @empty{
     <h3 class="not-found">No hay eventos encontrados</h3>
     <button mat-raised-button (click)="onShowAll()">mostrar todos</button>
 }
 
 
 