rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read,write: if true;
    }
    match /tournament/{tournamentId} {
      function isAdmin(request) {
          return ( get(/databases/$(database)/documents/tournament/$(tournamentId)).data.creatorUid == request.auth.uid)
      }        
      allow read, write: if ( get(/databases/$(database)/documents/tournament/$(tournamentId)).data.creatorUid == request.auth.token.uid)
      
      match /{document=**} { 
      	allow read, write: if isAdmin()
      }
    }    
  }
}
