<a [routerLink]="['/','tournament',tournamentId]">
    <button mat-icon-button><mat-icon>arrow_back</mat-icon></button>
</a>
@if( tournament ){
    <h1>{{  tournament.label }}</h1>

    <h2>Programa</h2>
    @for(p of performances; track p;let idx = $index, e = $even){
        <mat-grid-list cols="5" rowHeight="2em" [style.background]="performanceColor">
            <mat-grid-tile>
                @if(isAdmin){
                <button mat-icon-button (click)="onPerformanceUp(p.id)"><mat-icon>arrow_upward</mat-icon></button>
                }
                {{ idx }}
                @if(isAdmin){
                <button mat-icon-button (click)="onPerformanceDown(p.id)"><mat-icon>arrow_downward</mat-icon></button>
                }
            </mat-grid-tile>
            <mat-grid-tile><span class="label">{{ p.performance.label }}</span></mat-grid-tile>
            <mat-grid-tile><span class="fullname">{{ p.performance.fullname }}</span></mat-grid-tile>
            <mat-grid-tile>
                @if( isAdmin || p.performance.isReleased  ){
                    <span class="score">score:{{ p.performance.grade }}</span>
                }
                @if( isAdmin && !p.performance.isReleased ){ 
                    <button mat-mini-fab color="accent" (click)="onRelease(p)"><mat-icon>done</mat-icon></button>
                }                
            </mat-grid-tile>
            <mat-grid-tile>
                @if( isAdmin || p.performance.isReleased  ){
                    <span>{{ p.medal }}</span>
                }
            </mat-grid-tile>    
        </mat-grid-list>        
        <app-evaluationgrade-list [tournamentId]="tournamentId" [tournament]="tournament" [performanceId]="p.id" [performance]="p.performance"></app-evaluationgrade-list>
    } 
    @empty{
        Por favor adicione performances al programa desde la lista de performances 
    }

}


