<a [routerLink]="['/','tournament',tournamentId]">
    <button mat-icon-button><mat-icon>arrow_back</mat-icon></button>
</a>
@if( tournament ){
    <h1>{{  tournament.label }}</h1>

    <h1>Programa</h1>
    @for(p of performances; track p;let idx = $index, e = $even){
        <mat-grid-list cols="5" rowHeight="2em" [style.background]="performanceColor">
            <mat-grid-tile>
                <button mat-icon-button (click)="onPerformanceUp(p.id)"><mat-icon>arrow_upward</mat-icon></button>
                {{ idx }}
                <button mat-icon-button (click)="onPerformanceDown(p.id)"><mat-icon>arrow_downward</mat-icon></button>
            </mat-grid-tile>
            <mat-grid-tile><span class="label">{{ p.performance.label }}</span></mat-grid-tile>
            <mat-grid-tile><span class="owner">{{ p.performance.owner }}</span></mat-grid-tile>
            <mat-grid-tile>score:{{ p.performance.grade }}
                @if( !p.performance.isReleased ){
                    <button mat-icon-button (click)="onRelease(p.id)"><mat-icon>done</mat-icon></button>
                }                
            </mat-grid-tile>
            <mat-grid-tile><span>{{ getMedalForPerformance(p.performance.grade) }}</span></mat-grid-tile>    
        </mat-grid-list>        
        <app-evaluationgrade-list [tournamentId]="tournamentId" [tournament]="tournament" [performanceId]="p.id" [performance]="p.performance"></app-evaluationgrade-list>
    } 

}


