mat-form-field{
    width:80%;
    margin-left: 2em;
}
mat-card{
    margin: 5px;
    border:1px solid black;
}
.label{
    display:block;
    font-size: large;
    margin-left: 1em;
    margin-left: 1em;
}
.fullname{
    display: block;
}
.email{
    display: block;
}
.info{
    margin-left: 3em;
}
.score{
    margin-right: 0.5em;
}

.released{
    color:green;
}
.medal{
    margin-top:auto;
    margin-bottom:auto;
    margin-left: 2em;   
}
.program{
    border: 1px solid black;
}
.program-bar{
    background-color: lightgray;
}
.program_number{
    margin-top:auto;
    margin-bottom:auto;
}
.attention{
    background-color: yellow;
}
.cancel{
    background-color: yellow;

}
