<mat-sidenav-container class="sidenav-container">
    <mat-sidenav  #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-toolbar color="accent">            
            <button *ngIf="drawer.opened"
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon  aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            
        </mat-toolbar>        
        <mat-list role="list">
            <mat-list-item>
            {{ profileName }}
            </mat-list-item>
            @if( currentProfile != 'participant'){
            <mat-list-item>
                <button mat-button (click)="onParticipant()">
                    Soy participante
                </button>       
            </mat-list-item>
            }
            @if( currentProfile != 'juror'){
            <mat-list-item>
                <button mat-button (click)="onJuror()">
                    Soy Jurado
                </button>  
            </mat-list-item>
            }
            @if( currentProfile != 'organizer'){ 
            <mat-list-item>
                <button mat-button (click)="onOrganizer()">
                    Soy Organizador
                </button>       
            </mat-list-item> 
            }
        </mat-list>
    </mat-sidenav>    

    <mat-sidenav-content>
        <mat-toolbar color="accent">
            @if (!drawer.opened){
                <button  
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    
                </button>
            }
           
           
            <a [routerLink]="['']"  mat-icon-button>
                <mat-icon>home</mat-icon>
            </a>             
        
            <span class="spacer"></span> 


            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
            <mat-menu #menu="matMenu">
           
            @if ( isLoggedIn() ){
                    @if ( !(isHandset$ | async) ) {
                        <span class="login-name">{{ displayName }}</span>
                    }
                    <button mat-menu-item  aria-label="logout" (click)="logout()" *ngIf="isLoggedIn()">logout</button>    
            }    
            @else{
                    <button mat-menu-item  aria-label="login" (click)="login()" >Ingresar</button>
                    <button mat-menu-item  aria-label="register" (click)="Register()">Registrarte</button>  
            }
            </mat-menu>             
        </mat-toolbar>
    
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>