
<mat-toolbar color="accent">
    <a [routerLink]="[bussiness.home]"  mat-icon-button>
        <mat-icon>home</mat-icon>
    </a>             

    <span class="spacer"></span> 

    @if ( isLoggedIn() ){
        @if ( !(isHandset$ | async) ) {
            <span class="login-name">{{ displayName }}</span>
            <button mat-button  aria-label="logout" (click)="logout()" *ngIf="isLoggedIn()">logout</button>    
        }
        
    }    
    @else{
        @if ( !(isHandset$ | async) ) {
            <button mat-button  aria-label="login" (click)="login()" >Ingresar</button>
            <button mat-button  aria-label="register" (click)="Register()">Registrarte</button>  
        }
    }

    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>


    <mat-menu #menu="matMenu">
    
        @if ( isLoggedIn() ){
            @if ( (isHandset$ | async) ) {
                <button mat-menu-item  aria-label="logout" (click)="logout()" *ngIf="isLoggedIn()">logout</button> 
            }
               
        }  
        @else{
            @if ( (isHandset$ | async) ) {
                <button mat-menu-item  aria-label="login" (click)="login()" >Ingresar</button>
                <button mat-menu-item  aria-label="register" (click)="Register()">Registrarte</button>  
            }
        }          
            <button mat-menu-item >
                Nosotros
            </button>       
            <button mat-menu-item >
                privacidad
            </button>  
    </mat-menu>             
</mat-toolbar>
<router-outlet></router-outlet>
