<a routerLink="/"><button mat-icon-button><mat-icon>arrow_back</mat-icon></button></a>
<h1>Torneo:</h1>
<form [formGroup]="form">
   
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
            @if( id && tournament && isAdmin == false){
                    <mat-card-title>{{ tournament.label }}</mat-card-title>
                    <img mat-card-lg-image [src]="tournament.imageUrl" >
            }
            </mat-card-title-group>
        </mat-card-header>  
          
        <mat-card-content>
            
            @if( !id || (isAdmin && tournament)){
                <div class="bar">
                    <mat-form-field>
                        <mat-label>Nombre del evento</mat-label>
                        <input matInput placeholder="" formControlName="label" (change)="onNameChange($event)">
                    </mat-form-field>
     
            
                    @if( tournament ){
                        <img mat-card-lg-image [src]="tournament.imageUrl" >
                    }
                
                </div>
                <mat-form-field>
                    <mat-label>Image</mat-label>
                    <input matInput placeholder="image" formControlName="imageUrl" (change)="onChange($event, id,'imageUrl')">
                </mat-form-field>   
              
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Fecha del evento</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="eventDate"  (change)="onChange($event, id,'eventDate')">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Hora del evento</mat-label>            
                    <input matInput formControlName="eventTime" [format]="24" [ngxTimepicker]="picker" (change)="onChange($event,id,'eventTime')">
                    <ngx-material-timepicker #picker></ngx-material-timepicker> 
                </mat-form-field>              

                @if( id && tournament ){
                    <mat-divider></mat-divider>
                    <h2>Categorias<a [routerLink]="['/','tournament',id,'categories']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a></h2>  
                    @if(tournament){ 
                        @for( category of tournament.categories; track category){
                            <a class="medalref" [routerLink]="['/','tournament',id,'category']">
                                <button mat-button>{{category.label}}</button>
                            </a>                      
                        }               
                    }             

                
                    <mat-divider></mat-divider>
                    <h2>Evaluaciones<a [routerLink]="['/','tournament',id,'evaluations']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a></h2>  
                    @if(tournament){ 
                        @for( e of tournament.evaluations; track e){
                            <a class="medalref" [routerLink]="['/','tournament',id,'evaluations']">
                                <button mat-button>{{e.label}}</button>
                            </a>                      
                        }               
                    }             
        
                    
                    <mat-divider></mat-divider>
                    <h2>Jurado<a [routerLink]="['/','tournament',id,'jurors']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a></h2>  
                    @if(tournament){ 
                        @for( j of tournament.jurors; track j){
                            <a class="medalref" [routerLink]="['/','tournament',id,'jurors']">
                                <button mat-button>{{j.label}}</button>
                            </a>                      
                        }               
                    }                 
        
                    <mat-divider></mat-divider>        
                    <h2>Premios<a [routerLink]="['/','tournament',id,'medals']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a></h2>  
                    @if(tournament){ 
                        @for( medal of tournament.medals; track medal){
                            <a class="medalref" [routerLink]="['/','tournament',id,'medals']">
                                <button mat-button>{{medal.label}} {{medal.minGrade}}</button>
                            </a>                      
                        }               
                    }
                    <h2>Performances<a [routerLink]="['/','tournament',id,'performances']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a></h2> 
                    <h2>Program<a [routerLink]="['/','tournament',id,'program']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a></h2>  
                    <h2>Podium<a [routerLink]="['/','tournament',id,'podium']">
                        <button mat-button-icon><mat-icon>emoji_events</mat-icon></button>
                    </a></h2>                                                             
                }    
                              
            }  
            @else{
                @if( tournament ){
                <h2>Fecha:{{tournament.eventDate.toDate() | date: 'dd/MM/yyyy'}}</h2>
                <h2>Hora:{{tournament.eventTime}}</h2>                
                }
            }

        </mat-card-content>   
        <mat-card-actions>
            @if( !id ){
                <button mat-button-icon (click)="onSubmit()"><mat-icon>done</mat-icon></button>
            }
        </mat-card-actions>
           
    </mat-card>    
</form>
