mat-card{
    width:100%;
}
mat-form-field{
    width:80%;  
}
.performanceLink{
    display:block;
}

.categoryref{
    display:block;
}
.evaluationref{
    display:block; 
}
.medalref{
    display:block; 
}
.item{
    display:block;
    margin:1em;
}
.grade{
    font-size: large;
    margin-right: 1em;
}
.medal{
    font-size: large;
}
p{
    margin:1em;
}