<a routerLink="/"><button mat-icon-button><mat-icon>arrow_back</mat-icon></button></a>
<h1>Torneo:
    @if( tournamentId && tournament && isAdmin){
        <button mat-icon-button color="warn" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    }
</h1>    
<form [formGroup]="form">
   
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
            @if( tournamentId && tournament && isAdmin == false){
                    <mat-card-title>{{ tournament.label }}</mat-card-title>
                    <img mat-card-lg-image [src]="tournament.imageUrl" >
            }
            </mat-card-title-group>
        </mat-card-header>  
          
        <mat-card-content>
            
            @if( !tournamentId || (isAdmin && tournament)){
                <div class="bar">
                    <mat-form-field>
                        <mat-label>Nombre del evento</mat-label>
                        <input matInput placeholder="" formControlName="label" (change)="onNameChange($event)">
                    </mat-form-field>
     
            
                    @if( tournament ){
                        <img mat-card-lg-image [src]="tournament.imageUrl" >
                    }
                
                </div>
                <mat-form-field>
                    <mat-label>Image</mat-label>
                    <input matInput placeholder="image" formControlName="imageUrl" (change)="onChange($event, tournamentId,'imageUrl')">
                </mat-form-field>   
              
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Fecha del evento</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="eventDate"  (change)="onChange($event, tournamentId,'eventDate')">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Hora del evento</mat-label>            
                    <input matInput formControlName="eventTime" [format]="24" [ngxTimepicker]="picker" (change)="onChange($event,tournamentId,'eventTime')">
                    <ngx-material-timepicker #picker></ngx-material-timepicker> 
                </mat-form-field>              
            }
            @else{
                @if( tournament ){
                <h2>Fecha:{{tournament.eventDate.toDate() | date: 'dd/MM/yyyy'}}</h2>
                <h2>Hora:{{tournament.eventTime}}</h2>                
                }
            }
            @if( tournamentId && tournament ){
                <mat-divider></mat-divider>
                <h2>Categorias
                @if( isAdmin ){    
                    <a [routerLink]="['/','tournament',tournamentId,'categories']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a>  
                }
                </h2>
                @for( category of tournament.categories; track category){
                    <span class="item">{{category.label}}</span>
                }               

            
                <mat-divider></mat-divider>
                <h2>Evaluaciones
                @if(isAdmin){
                    <a [routerLink]="['/','tournament',tournamentId,'evaluations']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a>
                }
                </h2>  
                @for( e of tournament.evaluations; track e){
                    <span class="item">{{e.label}}</span>
                }               
    
                @if(isAdmin){
                    <mat-divider></mat-divider>
                    <h2>Jurado
                    <a [routerLink]="['/','tournament',tournamentId,'jurors']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a>
                    </h2>  
                    @for( j of tournament.jurors; track j){
                        <span class="item">{{j.label}}</span>
                    }               
                }
    
                <mat-divider></mat-divider>        
                <h2>Premios
                @if(isAdmin){
                    <a [routerLink]="['/','tournament',tournamentId,'medals']">
                        <button mat-button-icon><mat-icon>edit</mat-icon></button>
                    </a>
                }
                </h2>  
                @for( medal of tournament.medals; track medal){
                    <span class="item">{{medal.label}} {{medal.minGrade}}</span>
                }    
                <h2>Performances
                    <button mat-button-icon (click)="onPerformancesEdit()"><mat-icon>edit</mat-icon></button>
                </h2> 
                <h2>Program<a [routerLink]="['/','tournament',tournamentId,'program']">
                    <button mat-button-icon><mat-icon>edit</mat-icon></button>
                </a></h2>  
                <h2>Podium<a [routerLink]="['/','tournament',tournamentId,'podium']">
                    <button mat-button-icon><mat-icon>emoji_events</mat-icon></button>
                </a></h2>                                                             
            }  


        </mat-card-content>   
        <mat-card-actions>
            @if( !tournamentId ){
                <button mat-button-icon (click)="onSubmit()"><mat-icon>done</mat-icon></button>
            }
        </mat-card-actions>
           
    </mat-card>    
</form>
