<a routerLink="../"><button mat-icon-button><mat-icon>arrow_back</mat-icon></button></a>
<h1>Nueva coreografía</h1>    
@if( tournament ){
    <div class="bar">
        <span class="spacer"></span>
        <span><h1>{{ tournament.label }}</h1></span>
        <span class="spacer"></span>
    </div>
    
    <mat-card [formGroup]="g">
        <mat-card-header>
        </mat-card-header>    
        <mat-card-content>
            <mat-form-field> 
                <mat-label>Nombre de la coreografía</mat-label>  
                <input matInput formControlName="label" >
            </mat-form-field>
            <mat-form-field> 
                <mat-label>Nombre de los ejecutantes</mat-label>  
                <input matInput  formControlName="fullname" >
            </mat-form-field>             
            <mat-form-field appearance="fill" >
                <mat-label>categoria</mat-label>
                <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let c of tournament.categories" [value]="c.id">
                    {{ c.label }}
                    </mat-option>                 
                </mat-select>
            </mat-form-field> 
            <mat-form-field> 
                <mat-label>Academia</mat-label>  
                <input matInput  formControlName="academy" >
            </mat-form-field> 
            <mat-form-field> 
                <mat-label>Ciudad</mat-label>  
                <input matInput  formControlName="city" >
            </mat-form-field>              
            <mat-form-field> 
                <mat-label>Coreografo</mat-label>  
                <input matInput  formControlName="coreographer" >
            </mat-form-field>                             
        </mat-card-content>
        <mat-card-actions>
            <button id="done" name="done" mat-button (click)="onSubmit()" [disabled]="!g.valid"><mat-icon>done</mat-icon></button>
    </mat-card-actions>
    </mat-card>
}
