<h1>Torneo</h1>    
@if( tournament ){
    <mat-grid-list cols="5" rowHeight="2em">
        <mat-grid-tile colspan="3">{{ tournament.label }}</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="3"><img mat-card-lg-image [src]="tournament.imageUrl" ></mat-grid-tile>
        <mat-grid-tile colspan="3">
            Fecha:{{ dateSrv.getDate( tournament.eventDate) | date: 'dd/MM/yyyy'}}
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            Hora:{{tournament.eventTime}} 
        </mat-grid-tile>
    </mat-grid-list>

    <div class="bar">
        <h2>Mis solicitudes de presentacion</h2>
        <span class="spacer"></span>
        <mat-checkbox [(ngModel)]="isShowDeleted">mostrar todos</mat-checkbox>
        <span class="spacer"></span>        
    </div>

    <mat-list>
    @for( p of performances; track p.id){

        @if( !(isShowDeleted==false && (p.performance.isDeleted || p.performance.isCanceled) ) ){
            <mat-list-item>
                <a [routerLink]="['performanceEdit',p.id]">
                    <span class="performance_label">{{ p.performance.label }}</span>
                    @if( p.isInProgram ){
                        <span class="status">Presentacion ha sido aceptada</span>
                    }

                    @if( p.performance.isRejected || p.performance.isCanceled){

                        @if( p.performance.isRejected ){
                            <span class="status_rejected">Rechazado!</span>
                        }                    
                        @if( p.performance.isCanceled ){
                            <span class="status_canceled">Cancelado!</span>
                        }                    
                    }
                    @else{
                        <span class="status">En proceso de aprovacion</span>
                    }

                </a>
            </mat-list-item>
        }
    } 
    @empty{
        <p>No hay solicitudes de presentacion</p>
        <button mat-raised-button color="primary" (click)="onPerformanceNew()">Crear una solicitud de presentacion</button>
    } 
    </mat-list>
    @if( performances.length > 0){
        <button mat-button-icon (click)="onPerformanceNew()"><mat-icon>add</mat-icon></button>
    }
        

    <mat-divider></mat-divider>             
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Categorias</mat-panel-title>
            </mat-expansion-panel-header>    
                <mat-accordion>
                @for( category of tournament.categories; track category){
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{category.label}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            <quill-view-html [content]="category.description"></quill-view-html> 
                        </p>
                    </mat-expansion-panel>
                } 
                </mat-accordion>                 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Premiacion</mat-panel-title>
            </mat-expansion-panel-header>    
            <mat-accordion>
                    @for( medal of tournament.medals; track medal){
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{medal.label}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                <quill-view-html [content]="medal.description"></quill-view-html> 
                            </p>
                        </mat-expansion-panel>
                    } 
                </mat-accordion> 
                
        </mat-expansion-panel>  
        @if( tournament.isProgramReleased ){ 
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Programa</mat-panel-title>
            </mat-expansion-panel-header>  
            <mat-list>
                @for( p of program; track p){
                    <mat-list-item>
                    {{ p.performance.label }}
                    </mat-list-item>
                }    
                @empty{
                    <h3>No se han adicionado performances al programa</h3>
                }                             
            </mat-list>  
        </mat-expansion-panel>  
        }                     
    </mat-accordion>    
    <p>
        <mat-divider></mat-divider>
    </p>
}
@else{
    <mat-spinner></mat-spinner>
}
  

