<div class="career-container" (click)="onParticipant()">
    <div class="title-container">
      <div [class]="(isHandset$ | async) ? 'career-title-small' : 'career-title'">Bailarines</div>
      <button mat-button >Buscar eventos</button>
    </div>
    <img  src="/assets/dancers.jpg"><img>
  </div>
  <div class="career-container" (click)="onJuror()">
    <div class="title-container">
      <div [class]="(isHandset$ | async) ? 'career-title-small' : 'career-title'" >Jurado</div>
      <button mat-button >Calificar Examenes</button>
    </div>
    <img src="/assets/judges.png"><img>
  </div>


  <div class="career-container" (click)="onOrganizer()">
    <div class="title-container">
      <div [class]="(isHandset$ | async) ? 'career-title-small' : 'career-title'">Organizador de eventos</div>
      <button mat-button >Crear Eventos</button>
    </div>
    <img src="/assets/organizer.png"><img>
  </div>

<div class="footer">
  <span class="spacer"></span>
  <span class="phone"><h2>www.tournament.com</h2></span>
  <span class="spacer"></span>
</div>
