
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>MisCompetencias</mat-card-title>
            <mat-card-subtitle>Site especializado en competencias de apreciacion</mat-card-subtitle>
            <img mat-card-lg-image src="/assets/medals.jpg" alt="miscompetencias">
        </mat-card-title-group>
    </mat-card-header>
    
    <mat-card-content>
     
        <p>
            En <b>MIS COMPETENCIAS.COM</b>, nos enorgullece proporcionar una plataforma integral para la automatizacion de evaluaciónes de concursos, competencias y torneos. Nuestra finalidad es facilitar la organización y ejecución de eventos de manera eficiente, asegurando una experiencia sin complicaciones tanto para los organizadores como para los participantes
        </p>

        <h3>Que puedes realizar en MisCompetencias.com:</h3>
        <mat-list role="list">
            <mat-list-item role="listitem">Crear mis propios eventos y premios.</mat-list-item>
            <mat-list-item role="listitem">Crear un link de invitacion para mis participantes.</mat-list-item>
            <mat-list-item role="listitem">Aceptar o rechazar propuesta de participacion.</mat-list-item>
            <mat-list-item role="listitem">Crear y asignar criterios de calificacion para mis jueces.</mat-list-item>
            <mat-list-item role="listitem">Recibir calificaciones de mis jueces y promediar automaticamente.</mat-list-item>
            <mat-list-item role="listitem">Asignacion automatica de lugares y premios.</mat-list-item>
        </mat-list>
    </mat-card-content>

    <p>En <b>MISCOMPETENCIAS.COM</b>, estamos dedicados a hacer que cada evento sea un éxito. Únete a nosotros en nuestro espacio para transformar la forma en que se planifican y evalúan concursos, competencias y torneos en todo el mundo.</p>

    <p>
        ¡Descubre el poder de MISCOMPETENCIAS.COM hoy mismo!        
    </p>
    <mat-card-actions>
        <a routerLink="/tournamentAdmin">
            <button mat-raised-button color="primary">Iniciar</button>
        </a> 
    </mat-card-actions>
</mat-card>
