
<mat-grid-list cols="4" >
    <mat-grid-tile colspan="3">
        <div class="header-container">
            <h1>MisCompetencias</h1>
            <p>Site especializado en competencias de apreciacion</p>            
        </div>
        
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <img mat-card-lg-image src="/assets/medals_640.jpg" alt="miscompetencias">
    </mat-grid-tile>
</mat-grid-list>


<div>
<img class="google-image" (click)="signInWithPopup()" src="/assets/btn_google_signin_small.png" >
</div>
<div>
    <a routerLink="/tournamentAdmin">
        <button mat-raised-button color="primary">Ingresa con un email</button>
    </a> 
</div>

